/** + OVERRIDES */

.carousel-control.left {
    background: rgba(255, 255, 255, 0.1);
}

.carousel-control:hover {
    cursor: hand;
}

.carousel-control.right {
    background: rgba(255, 255, 255, 0.1);
}

.carousel .carousel-control { visibility: hidden; }
.carousel:hover .carousel-control { visibility: visible; }
.carousel .carousel-indicators { visibility: hidden;}
.carousel:hover .carousel-indicators { visibility: visible;}

/** - OVERRIDES */

body {
    background-image: url('../img/backgrounds/seamless_blue_hd.jpg');
    padding: 0%;
    margin: 0%;
    height: 100%;
    width: 100%;
    background-color: rgba(255, 255, 255, 1.0);
    overflow-x: hidden;
}

footer {
    position: relative;
    float: left;
    text-align: center;
    width: 100%;
    height: 10%;
    background-color: rgba(255, 255, 255, 1.0);
}

footer a{
    color: grey;
    text-decoration: none;
    font-weight: bold;
}

footer a:hover{
    color: white;
    background-color: grey;    
    text-decoration: none;
}

span {
  white-space: nowrap;
}

/*For our product headers*/
h3 {
    text-align: center;
    vertical-align: middle;

    font-size: 1.1em;
    font-weight: bold;
}

h4 {
    text-align: center;
    vertical-align: middle;

    font-size: 1em;
}

/*For making the link decorations not show up*/
h3 a:active, a:visited, a:link {
    /*text-decoration: none;*/
    /*color: #000;*/
}

nav {
    padding: 0%;
    margin: 0%;
}

#navbar-menu-items {
    text-align: center;
    width: 100%;
}

#navbar-menu-items > li {
    text-align: center;
    padding-left: 11.25%;
    font-weight: bold;
    font-size: 1.5em;
}

#navbar {
    text-align: center;
}

.nolinks img {
    text-decoration: none;
    color: #000;
}

.split-content-left {
    position: relative;
    float: left;
    width: 50%;
    min-width: 50%;
    height: 100%;
}

.split-content-right {
    position: relative;
    float: right;
    width: 50%;
    min-width: 50%;
    height: 100%;
}

.split-content-top {
    position: relative;
    float: left;
    width: 100%;
    height: 50%;
    min-height: 50%;
}

.split-content-bottom {
    position: relative;
    float: left;
    width: 100%;
    height: 50%;
    min-height: 50%;
}


/** + POSITIONING */
.float-left{
    float:left;
}

.float-right{
    float:right;
}
/** - POSITIONING */


/** + BRANDING */

/* Brand and Motto Area */
.fabricon-brand-motto {
    float:left;
    left:0;
    right:0;
}
.fabricon-brand {
    float:left;
    padding-top: 1.5em;
    height:20%; 
    width:20%;
}
.fabricon-motto {
    padding-top: 3.5em;
    padding-left: 2em;
    float:left;
    height:50%;
    width:60%;
}
.made-in-montana-logo{
    float:right;
    height:4%;
    width:4%;
    /*padding-left:1em; */
}

/** - BRANDING */

/** + NAVBAR */

#navbar-products-dropdown:hover {
    cursor: hand;
}

/** - NAVBAR */

/** + CONTAINERS */

#master-content {
    background-color: rgba(255, 255, 255, 0.0);
    width: 100%;
    height: 100%;
    margin: 0%;
    padding: 0%;
    border-radius: 15px;
    /*padding: 2%;*/
}

.fabricon-page {
    background-color: rgba(255, 255, 255, 1.0);
    padding-left: 1%;
    padding-right: 1%;
    /*border-radius: 15px 15px 0px 0px;*/
}

.page-header {
    padding-left: 1%;
    padding-right: 1%;
    padding-top: 0.5%;
    background-color: rgba(255, 255, 255, 1.0);
}

.page-content {
    padding-left: 1%;
    padding-right: 1%;
    padding-bottom: 0.5%;
    background-color: rgba(255, 255, 255, 1.0);
}

.content-container {
    background-color: rgba(255, 255, 255, 0.0);
    width: 100%;
    height: 100%;
    margin: 0%;
    padding: 0%;
    /*border-radius: 15px;*/
}

/** - CONTAINERS */

/** + WIDGETS */

.fabricon-dropdown-button:hover {
    cursor: hand;
}

.fabricon-dropdown-button:hover li:hover {
    cursor: hand;
}

.navbar-header {
    right:50%;
    left:50%;
    /*padding-left: 1em;*/
}

.navigation-bar {
    margin: 0%;
}


.nav-social ul {
    list-style: none;
    float:right;   
    height: 10%; 
    width: 15%;
}

.nav-social li {
    display: inline;
}

.nav-social .icons {
    height: 25%;
    width: 25%;
    padding: 3%;
}

.icons .facebook{
    background-image: "./img/icons/facebook-solo.png"
}
/** - WIDGETS */

/** + GALLERY */

#gallery-carousel-container {
    width: 100%;
    height: 100%;

    background-color: rgba(0, 0, 0, 1.0);
    opacity: 0.8;
}

#gallery-carousel-container:hover {
    opacity: 1.0;
}

#gallery-carousel {
    width: 100%;
    height: 100%;
    
    background-color: rgba(0, 0, 0, 0.0);
    border-radius: 30px;
}

.gallery-carousel-slide-img {
    width: 100%;
    height: 100%;

    padding-top: 1%;
    padding-bottom: 1%;
    /*padding-left: 5%;*/
    /*padding-right: 5%;*/
    border-radius: 30px;

    display:block;
    margin:auto;
}

/** - GALLERY */

/** + NAVIGATOR */

#navigator-container {
    background-color: rgba(255, 255, 255, 1.0);
    border-radius: 15px;
    display: table;
    width: 90%;
    opacity: 0.9;

    /*margin-top: 2%;*/
}


#navigator-container:hover {
    opacity: 1.0;
}


#navigator-header {
    padding-top: 0%;
}

#navigator-sifter-container {
    float: left;
    width: 100%;
}

#sifter-container {
    float: left;
    width: 100%;
}

#sifter-filter-container {
    float: left;
    width: 57%;

    background-color: #B0E2FF;
}

.sifter-filter {
    float: left;
}

.sifter-filter-combobox {
    float: left;
}

#sifter-traits-container {
    float: right;
    width: 43%;

    background-color: #D0FAEE;
}

#sifter-traits-container {
    float: left;
}

.snippet-container {
    /*max-height: 550px;*/
    background-color: rgba(255, 255, 255, 0.0);
    /*border-left: 2px solid #000000;
    border-right: 2px solid #000000;*/
    border-radius: 15px;
    /*margin-top: 2%;
    margin-bottom: 2%;*/
    margin-bottom: 0.5em;
    padding-bottom: 0.5em;
}

.snippet-container:hover {
    background-color: rgba(51, 186, 240, 0.18);
}

.snippet-container:active {
    background-color: rgba(51, 186, 240, 0.18);
}

.snippet-title-container {
    width: 100%;
    height: 10%;
}

.snippet-carousel-container {
    width: 100%;
    height: 90%;
}

.snippet-carousel {
    position: relative;
    float: left;
    width: 100%;
    height: 100%;
    padding-bottom: 1em;
   /* bottom: 0px;
    left: 0px;*/
    /*border: 2px solid #a1a1a1;*/
    /*border-radius: 10px;*/
}

.snippet-carousel-slide-img {
    border-radius: 30px;
}

.snippet-tagline-container {
    width: 100%;
    height: 10%;
}

.snippet-body-container {
    width: 100%;
    height: 90%;
}

/** - NAVIGATOR */

/** + SITE MAP */
.site-map{
    /*display: inline; NOT WORKING FOR SOME REASON*/ 
    background-color: #222;        
}

.site-map h2{
    color: #9d9d9d; 
}

.site-map li{
    color: #9d9d9d;
    list-style: none;
}

/** - SITE MAP */