/* Body */
/*body{
	padding-top:5px;
}*/
/*Centering Stuff*/
/*.centered {
	position: relative;
	left: 50%;
	right: 50%;
	transform: translate(-50%, 0);
}*/

/*.fixed_centered {
	width:100%;
	position: fixed;
	top:0px;
	left: 50%;
	right: 50%;
	background-color: #000;
	transform: translate(-50%, 0);
	z-index: 1;
}*/

/*Container Stuff*/
/*.container {
  margin-right: auto;
  margin-left: auto;
  *zoom: 1;
}

.container-fluid {
  padding-right: 0em;
  padding-left: 0em;
  *zoom: 1;
}*/

/*Navigation Menu Bar and Brand*/
/*.navbar-brand .centered {
	position: relative;
	left: 50%;
	right: 50%;
	transform: translate(-50%, 0);
}*/

/*.navbar-nav{
    float:none;
    left: 50%;
	right: 50%;
	transform: translate(20%, 0);
    margin: 0 auto;
    display: table;
    table-layout: fixed;
    width: 80%;
    background-color: #eee;
}*/

/*.nav {
  margin-bottom: 20px;
  float: right;
  list-style: none;
}*/

/*.navbar-nav.li {
	display: inline;
}*/

/*.navbar .nav{
  position: relative;
  float:none;
  display:inline-block;
  vertical-align: top;
  margin: 0 auto;
}*/

/*.navbar-inner .navbar.center {
  text-align:center;
}*/
/*.fabricon-navbar-motto{
	float:left;
	height:25%; 
	width:25%;
}

.fabricon-navbar-buttons{
	float:left;
	background-color: black;
	color: black;
}

.fabricon-navbar-buttons:select{
	background-color:black;
}

.fabricon-navbar-buttons, .fabricon-navbar-button, ul.dropdown-menu, li{
	text-decoration: none;
	color: #AB9A07;	
	background-color: black;
}

.fabricon-navbar-button li.active{
	text-decoration: none;
	color: #AB9A07;	
	background-color: black;
}

li.divider.fabricon-divider{
	background-color: #AB9A07;
}*/

/* Brand and Motto Area */
.fabricon-brand-motto{
	float:left;
	left:0;
	right:0;
}
.fabricon-brand{
	float:left;
	height:20%; 
	width:20%;
}
.fabricon-motto{
	padding-top: .5em;
	float:left;
	height:50%;
	width:50%;
}

.fabricon-column {
/*	position: relative;
	float: left;
*/
/*	padding-left: 5px;
	padding-right: 5px;*/
}

.made-in-montana-logo{
	float:none;
	height:10%;
	width:10%;
	padding-left:1em;	
}

/*@media (min-width: 768px) {
	.made-in-montana-logo{
		max-height: 2em;
		max-width: 3em;
	}
}

@media (min-width: 992px) {
	  .made-in-montana-logo{
		max-height: 3em;
		max-width: 4em;
	}  
}

@media (min-width: 1200px) {
	.made-in-montana-logo{
		max-height: 6em;
		max-width: 7em;
	}  
}*/

.navbar-header{
	right:50%;
	left:50%;
	padding-left: 1em;
}
/*.navbar .navbar-nav {
  display: inline-block;
  float: none;
  vertical-align: top;
}

.navbar .navbar-collapse {
  text-align: center;
}

@media (min-width: 768px) {
    .navbar .navbar-nav {
        display: inline-block;
        float: none;
        vertical-align: top;
    }

    .navbar .navbar-collapse {
        text-align: center;
    }
}
*/
/*.fabricon-navbar-header{
	top: 0px;
	left: 0px;
	right: 0px;
	position: fixed;
	background-color: black;
	width: 100%;
}*/

/*.fabricon-navbar-button {
	float: none;
	display: inline;
  	text-align:center;
	font-size: 1.5em;
	margin-left: 2%;
	margin-right: 2%;
	background-color: #eee;
}

.row {
margin-left: 0px;
}*/


/*.nolinks a{
	text-decoration: none;
	color: #000;
}*/

/*.nolinks h3:hover {
	text-decoration: none;
	color: #337;
}
*/
/*Footer Stuff*/
footer {
	text-align: center;
	float:none;
}

/*For our product headers*/
h3 {
	text-align: center;
}

/*For making the link decorations not show up*/
h3 a:active, a:visited, a:link {
	text-decoration: none;
	color: #000;
}

.nolinks img{
	text-decoration: none;
	color: #000;
}