<!DOCTYPE html>

<html lang="en" ng-app="fabricon">



<head>



	<meta http-equiv="content-type" content="text/html; charset=utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	
	<title>Fabricon - Fabric Contractors</title>
	<link rel="stylesheet" type="text/css" href="css/jquery-ui.min.css" />
	<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css" />	
	<link rel="stylesheet" type="text/css" href="css/bootstrap-responsive.min.css" />
	<link rel="stylesheet" type="text/css" href="css/fabricon.css" />
	<link rel="stylesheet" type="text/css" href="css/templatemo_style.css" />

	<script type="text/javascript" src="./js/libs/jquery-1.11.1.min.js"></script>
	<script type="text/javascript" src="./js/libs/jquery-ui.min.js"></script>
	<script type="text/javascript" src="./js/libs/angular.min.js"></script>
	<script type="text/javascript" src="./js/libs/bootstrap.min.js"></script>
	<script type="text/javascript" src="./js/libs/jquery.lightbox.js"></script>
	<script type="text/javascript" src="./js/fabricon.js"></script>
</head>









<body class="container">
    <!--  Navigation Container  -->
	<nav class="navbar navbar-default" role="navigation">
		<div class="container-fluid navbar-right">
		    <div class="navbar-header">
		      <a class="navbar-brand" href="#" style="float:left">
		        <img alt="Brand" src="img/logo.gif" />
		      </a>
		    </div>
		    <ul class="nav navbar-nav" style="vertical-align:middle">
                <li><a href="index.html">Home</a></li>
        		<li class="dropdown">
		          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Products <span class="caret"></span></a>
		          <ul class="dropdown-menu" role="menu">
		          	<li class="dropdown-submenu"><a href="#" class="dropdown-toggle" data-toggle="dropdown">Awnings & Canopies</a>
                    	<ul class="dropdown-menu">
                            <li><a href="#">Commercial</a></li>
                            <li><a href="#">Residential</a></li>
                            <li><a href="#">Retractable</a></li>
                        </ul>
                    </li>
		            <li class="divider"></li>
		            <li><a href="#">Fabrics</a></li>	
                    <li class="divider"></li>
		            <li class="dropdown-submenu"><a href="#" class="dropdown-toggle" data-toggle="dropdown">Fabric Structures</a>                        
                        <ul class="dropdown-menu">
                            <li><a href="#">Frame Supported</a></li>
                            <li><a href="#">Tensile</a></li>
                            <li><a href="#">Deployable</a></li>
                        </ul>    
                    </li>
		            <li class="divider"></li>
                    <li><a href="#">Tents</a></li>
		            <li class="divider"></li>
		            <li><a href="#">Tipis</a></li>
		            <li class="divider"></li>
		            <li><a href="#">Vertical Roller Screens</a></li>
		            <li class="divider"></li>
                    <li class="dropdown-submenu"><a href="#" class="dropdown-toggle" data-toggle="dropdown">Custom Products</a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Agricultural</a></li>
                            <li><a href="#">Recreational</a></li>
                            <li><a href="#">Fabrics</a></li>
                        </ul>
                    </li>		            	            
		          </ul>
		        </li>
		        <li><a href="#">About Fabricon</a></li>
				<li><a href="#">Resources</a></li>
				<li><a href="#">Contact Us</a></li>
			</ul>
		</div>
	</nav>


    <!--  Product Container  -->
    <div class="products" ng-controller="StoreController as store">
	    <!-- <div class="list-group-item" ng-repeat="product in store.products"> -->
	    <div class="row templatemorow" ng-repeat="products in store.products">
 		    <div class="hex col-md-4" ng-repeat="product in products">
                <!-- Image Gallery  -->
	        	<ul>
	          		<li class="small-image pull-left thumbnail">
	          			<div class="hexagon gallery-item">
	          				<div class="hexagon-in1">
								<img class="hexagon-in2" ng-src="{{product.images.thumbnail}}" style="height:{{product.size.height}}em; width: {{product.size.width}}em" />
                                <div class="overlay">
                                    <a href="{{product.images.thumbnail}}" data-rel="lightbox" class="fa fa-expand">
                                    </a>
                                </div>
<!-- 			          			<h3>{{product.name}}</h3>
			          			<img ng-src="{{product.images.thumbnail}}" style="height:{{product.size.height}}em; width: {{product.size.width}}em" /> -->
			          				
			          			</div>
			          		</div>
	          			</div>
	          		</li>
	          	</ul>
	        </div>
	    </div>
	</div>

</body>







</html>


