<div class="container-fluid fabricon-page">
    <div class="page-header">
        <h1>About Fabricon</h1>
    </div>
    <div class="page-content">
        Fabricon is owned and operated by one of the few Certified Master Fabric Craftsmen in the industry, MARK WELANDER.

        <br />
        <br />

        Mark began his career in 1975 making Native American tipis. Some of his tipis are on display in the Smithsonian Museum in Washington, D.C., the Cody Museum in Cody, Wyoming, the Museum of Man in Toronto, Ontario Canada and the Little World Museum of Man in Japan.

        <br />
        <br />

        In 1978 Mark expanded his horizons to design and manufacturing horse packing gear and wall tents for professional outfitters. One of his favorite projects was supplying the military tents for the film Dances With Wolves.

        <br />
        <br />

        Awning production was added to his repertoire in 1979. His works can be seen internationally based on his excellent reputation for quality, service and value.

        <br />
        <br />

        Since 1983 Mark has won five international achievement awards from the Industrial Fabrics Association International. These awards are presented annually for the most outstanding awning projects anywhere in the world.
    </div>
</div>
