<!--  custom
 Container  -->
<div class="products" ng-controller="StoreController as store"> 
	<h2>Awnings & Canopies</h2>
	<blockquote>{{custom
.description}}</blockquote>   
    <div class="row" ng-repeat="awnings in store.awnings">
		    <div class="col-md-4" ng-repeat="custom
 in awnings">
            <!-- Image Gallery  -->
        	<ul>
          		<li class="small-image pull-left thumbnail" ng-class="{ active:tab.isSet({{custom
.link}}) }">
          			<h3>{{custom
.name}}</h3><a href ng-click="tab.setTab(custom
.link)">
          			<img ng-src="{{custom
.images.thumbnail}}" style="height:{{custom
.size.height}}em; width: {{custom
.size.width}}em" /></a>
          		</li>
          	</ul>
        </div>
    </div>
</div>
