<!--  Product Container  -->
<div class="category">    
    <div class="row" ng-repeat="row_subcategories in subcategories">
		    <div class="col-md-4" ng-repeat="subcategory in row_subcategories">
            <div class='fabricon-column'>
              <a href="#/{{category.link}}/{{category.id}}/{{subcategory.link}}" class="nolinks">
                  <h3>{{subcategory.name}}</h3>  
            	</a>
              <carousel style="height:{{subcategory.size.height}}%; width: {{subcategory.size.width}}%; max-width:768px;">
                <slide ng-repeat="thumbnail in subcategory.images.thumbnails" active="thumbnail.active">
                  <a href="#/{{category.link}}/{{category.id}}/{{subcategory.link}}" class="nolinks">
                    <img ng-src="{{thumbnail.image}}" style="height:{{subcategory.size.height}}%; width: {{subcategory.size.width}}%; max-width:768px;"/>
                  </a>
                  <div class="carousel-caption">
                    <h4>Slide {{$index}}</h4>
                  </div>
                </slide>
              </carousel>       
            </div>
        </div>
    </div>
</div>
