<!-- Content Pages -->

<!-- Awnings & Canopies -->
<awnings-and-canopies ng-show="tab.isSet('awnings-and-canopies')"></awnings-and-canopies>
	<commercial-awnings ng-show="tab.isSet('commercial-awnings')"></commercial-awnings>
	<deployable-awnings ng-show="tab.isSet('deployable-awnings')"></deployable-awnings>
	<designs-awnings ng-show="tab.isSet('designs-awnings')"></designs-awnings>
	<fabrics-awnings ng-show="tab.isSet('fabrics-awnings')"></fabrics-awnings>
	<graphics-awnings ng-show="tab.isSet('graphics-awnings')"></graphics-awnings>
	<residential-awnings ng-show="tab.isSet('residential-awnings')"></residential-awnings>
	<valances-awnings ng-show="tab.isSet('valances-awnings')"></valances-awnings>


<!-- Curtains & Screens -->
<curtains-and-screens ng-show="tab.isSet('curtains-and-screens')"></curtains-and-screens>
	<enclosures-curtains ng-show="tab.isSet('enclosures-curtains')"></enclosures-curtains>	
	<sun-screens-curtains ng-show="tab.isSet('sun-screens-curtains')"></sun-screens-curtains>


<!-- Fabrics -->
<fabrics ng-show="tab.isSet('fabrics')"></fabrics>
	<natural-fabrics ng-show="tab.isSet('natural-fabrics')"></natural-fabrics>
	<synthetic-fabrics ng-show="tab.isSet('synthetic-fabrics')"></synthetic-fabrics>


<!-- Fabric Structures -->
<fabric-structures ng-show="tab.isSet('fabric-structures')"></fabric-structures>
	<frame-supported-fabric-structures ng-show="tab.isSet('frame-supported-fabric-structures')"></frame-supported-fabric-structures>
	<shade-sails-fabric-structures ng-show="tab.isSet('shade-sails-fabric-structures')"></shade-sails-fabric-structures>
	<tensile-fabric-structures ng-show="tab.isSet('tensile-fabric-structures')"></tensile-fabric-structures>
	<deployable-fabric-structures ng-show="tab.isSet('deployable-fabric-structures')"></deployable-fabric-structures>
	<!-- Deployable -->
		<tents-deployable ng-show="tab.isSet('tents-deployable')"></tents-deployable>
		<tipis-deployable ng-show="tab.isSet('tipis-deployable')"></tipis-deployable>
		<custom-deployable ng-show="tab.isSet('custom-deployable')"></custom-deployable>


<!-- Vertical Roller Screens -->
<vertical-roller-screens ng-show="tab.isSet('vertical-roller-screens')"></vertical-roller-screens>


<!-- Custom Products -->
<custom-products ng-show="tab.isSet('custom-products')"></custom-products>
	<agricultural-custom ng-show="tab.isSet('agricultural-custom')"></agricultural-custom>
	<fabrics-custom ng-show="tab.isSet('fabrics-custom')"></fabrics-custom>
	<recreational-custom ng-show="tab.isSet('recreational-custom')"></recreational-custom>
	

<!-- Consulting -->
<consulting ng-show="tab.isSet('consulting')"></consulting>
	<codes-consulting ng-show="tab.isSet('codes-consulting')"></codes-consulting>
	<design-consulting ng-show="tab.isSet('design-consulting')"></design-consulting>
	<engineering-consulting ng-show="tab.isSet('engineering-consulting')"></engineering-consulting>	


<!-- About Fabricon -->
<about-fabricon ng-show="tab.isSet('about-fabricon')"></about-fabricon>


<!-- Resources -->
<resources ng-show="tab.isSet('resources')"></resources>


<!-- Contact Us -->
<contact-us ng-show="tab.isSet('contact-us')"></contact-us>