
<!--  Product Container  -->
<div class="products" ng-controller="StoreController as store">
	<h2>product customProducts</h2>
	<blockquote>{{product.description}}</blockquote>
    
    <div class="row" ng-repeat="customProducts in store.customProducts">
		    <div class="col-md-4" ng-repeat="product in customProducts">
            <!-- Image Gallery  -->
        	<ul>
          		<li class="small-image pull-left thumbnail" ng-class="{ active:tab.isSet({{product.link}}) }">
                <a href ng-click="tab.setTab(product.link)">
            			<h3 class="nolinks">{{product.name}}</h3>
            			<img ng-src="{{product.images.thumbnail}}" style="height:{{product.size.height}}em; width: {{product.size.width}}em" />
                </a>
          		</li>
          	</ul>
        </div>
    </div>
</div>