<!--  Category Container  -->
<div class="gallery-carousel-container">
  <div class="row">
    <div class="col-md-12">
      <carousel class='gallery-carousel' style="height:auto; width:100%;">
        <slide ng-repeat="full_sized_image in main_gallery.images.__full__.images">
          <img class='center-block gallery-carousel-slide-img' ng-src="{{full_sized_image['image_folder_path'] + '/__full__/' + full_sized_image['name']}}" style="height:{{main_gallery.images.__full__.size.height}}%; width:50%;"/>
        </slide>
      </carousel>  
    </div>
  </div>
</div>

<div class="container-fluid navigator-container">    
  <div class="row snippet-row vdivide" ng-repeat="row_categories in categories">
    <hr>
    <div class="col-xl-12 col-md-4 col-sm-12 col-xs-12 container-fluid snippet-container" ng-repeat="category in row_categories">
      <!-- Category Page Snippet -->
      <div class='row'>
        <div class='col-md-6 col-sm-6 col-xs-12 snippet-title-container'>
          <!-- Snippet Title -->
          <a class="nolinks snippet-title" href="#/{{category.link_name}}">
            <h3>{{category.name}}</h3>  
          </a>
        </div>
        <span></span>
        <div class='col-md-6 col-sm-6 col-xs-12 snippet-tagline-container'>
          <!-- Snippet Tagline -->
          <h3 class=''>Lorem Ipsum</h3>
        </div>
      </div>
      <div class='row'>
        <div class='col-md-6 col-sm-6 col-xs-12 snippet-carousel-container '>
          <!-- Snippet Carousel -->
          <carousel class='snippet-carousel ' style="height:{{category.images.__thumbnail__.size.height}}%; width: 100%;">
            <slide class='snippet-carousel-slide' ng-repeat="thumbnail_name in category.images.__thumbnail__.images">
              <a href="#/{{category.link_name}}" class="nolinks">
                <img class='center-block snippet-carousel-slide-img' ng-src="{{category.image_folder_path + '/__thumbnail__/' + thumbnail_name}}" />
              </a>
            </slide>
          </carousel>   
        </div>
        <div class='col-md-6 col-sm-6 col-xs-12 snippet-body-container'>
          <!-- Snippet Body -->
          <span>
            Lorem Ipsum
          </span>
        </div>
      </div>
    </div>
    <hr>
  </div>
</div>
