<div class="container-fluid fabricon-page">
  <div class="page-header">
    <h1>Welcome to Fabricon!</h1>
  </div>
  <div class="page-content">
    Fabricon designs, manufactures and consults on a wide range of fabric structures and products constructed for public and private entities. Fabricon also offers expertise in all phases of the custom design process, incorporating the latest technology, innovative construction techniques, and dedication to the principles of sustainable architectural design, Fabricon assures the quality and integrity of every product.
  </div>
</div>