<!--  Navigation Container  -->
<nav class="navbar navbar-default navbar-inverse navbar-static-top navigation-bar" role="navigation" ng-show=true>
	<div class="container">
		<div class="navbar-header">
          	<div class="fabricon-brand-motto">
				<a href="#/home">	
					<img class="fabricon-brand" alt="Brand" src="img/logos/mt_logo_lg_transparent_all.png" />
				</a>
				<img class="fabricon-motto" alt="Brand" src="img/logos/fabricon_motto_white.png" />
				<img class="made-in-montana-logo" alt="Brand" src="img/made_in_montana.png" />
				<div id="social" class="nav-social right">
					<ul>
						<li class="facebook"><a href="https://www.facebook.com/pages/Fabricon-LLC/110448395686050" target="new"><img class="icons" src="img/icons/facebook-solo.png" onmouseover="this.src='img/icons/facebook-solo-blue.png'" onmouseout="this.src='img/icons/facebook-solo.png'" alt="Facebook"></a></li>
						<li><a href="https://plus.google.com/105033875772747195888" target="new"><img class="icons" src="img/icons/google-solo.png" onmouseover="this.src='img/icons/google-solo-red.png'" onmouseout="this.src='img/icons/google-solo.png'" alt="Google+"></a></li>
						<li><a href="https://www.linkedin.com/company/8632886" target="new"><img class="icons" src="img/icons/linkedin-solo.png" onmouseover="this.src='img/icons/linkedin-solo-blue.png'" onmouseout="this.src='img/icons/linkedin-solo.png'" alt="LinkedIn"></a></li>
					</ul>
				</div>
			</div>

			<div class="container">
				<button type="button" class="float-right navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>			
			</div>
			<div id="navbar" class="navbar-collapse collapse">				
				<ul id="navbar-menu-items" class="nav navbar-nav">
					<li class="active"><a href="#home">Home</a></li>
					<li class="divider"></li>
					<li><a href="#about">About</a></li>
					<li class="divider"></li>
					<li><a href="#contact">Contact</a></li>
					<li class="divider"></li>
					<li><a href="#products">Products</a></li>
				</ul>
			</div>
		</div>
	</div>
</nav>