	<!--  Navigation Container  -->
	<nav class="navbar navbar-default" role="navigation" ng-show=true>
		<div class="container-fluid navbar-right">
		    <div class="navbar-header">
		    	<a class="navbar-brand" href="#">
		        	<img class="centered" alt="Brand" src="img/logos/dark_logo.png" style="height:45%; width:45%;" />
		      	</a>
		    </div>
		    <div class="fixed_centered">
			    <ul class="nav navbar-nav" style="vertical-align:middle">
	                <li ng-class="{ active:tab.isSet('front-page-content') }">
	                	<a href ng-click="tab.setTab('front-page-content')">Home</a>
	                </li>
	        		<li class="dropdown">
			        	<a href="#" class="dropdown-toggle" data-toggle="dropdown">Products <span class="caret"></span></a>
		        		<ul class="dropdown-menu" role="menu">
			          		<li ng-class="{ active:tab.isSet('awnings-and-canopies') }" class="dropdown-submenu"><a href ng-click="tab.setTab('awnings-and-canopies')" class="dropdown-toggle" data-toggle="dropdown">Awnings & Canopies</a>
		                    	<ul class="dropdown-menu">
		                            <li ng-class="{ active:tab.isSet('commercial-awnings') }"><a href ng-click="tab.setTab('commercial-awnings')">Commercial</a></li>
		                            <li ng-class="{ active:tab.isSet('deployable-awnings') }"><a href ng-click="tab.setTab('deployable-awnings')">Deployable</a></li>
		                            <li ng-class="{ active:tab.isSet('designs-awnings') }"><a href ng-click="tab.setTab('designs-awnings')">Designs</a></li>
		                            <li ng-class="{ active:tab.isSet('fabrics-awnings') }"><a href ng-click="tab.setTab('fabrics-awnings')">Fabrics</a></li>
									<li ng-class="{ active:tab.isSet('graphics-awnings') }"><a href ng-click="tab.setTab('graphics-awnings')">Graphics</a></li>
		                            <li ng-class="{ active:tab.isSet('residential-awnings') }"><a href ng-click="tab.setTab('residential-awnings')">Residential</a></li>
		                            <li ng-class="{ active:tab.isSet('valances-awnings') }"><a href ng-click="tab.setTab('valances-awnings')">Valances</a></li>
		                        </ul>
	                   		</li>	
				            <li class="divider"></li>
		          			<li ng-class="{ active:tab.isSet('curtains-and-screens') }" class="dropdown-submenu"><a href ng-click="tab.setTab('curtains-and-screens')" class="dropdown-toggle" data-toggle="dropdown">Curtains & Screens</a>
		                    	<ul class="dropdown-menu">
		                            <li ng-class="{ active:tab.isSet('enclosures-curtains') }"><a href ng-click="tab.setTab('enclosures-curtains')">Enclosures</a></li>
		                            <li ng-class="{ active:tab.isSet('sun-screens-curtains') }"><a href ng-click="tab.setTab('sun-screens-curtains')">Sun Screens</a></li>
		                        </ul>
		            		</li>                   		
				            <li class="divider"></li>
		          			<li ng-class="{ active:tab.isSet('fabrics') }" class="dropdown-submenu"><a href ng-click="tab.setTab('fabrics')" class="dropdown-toggle" data-toggle="dropdown">Fabrics</a>
		                    	<ul class="dropdown-menu">
		                            <li ng-class="{ active:tab.isSet('natural-fabrics') }"><a href ng-click="tab.setTab('natural-fabrics')">Natural</a></li>
		                            <li ng-class="{ active:tab.isSet('synthetic-fabrics') }"><a href ng-click="tab.setTab('synthetic-fabrics')">Synthetic</a></li>
		                        </ul>
		            		</li>
		                    <li class="divider"></li>
				            <li ng-class="{ active:tab.isSet('fabric-structures') }" class="dropdown-submenu"><a href ng-click="tab.setTab('fabric-structures')" class="dropdown-toggle" data-toggle="dropdown">Fabric Structures</a>                        
		                        <ul class="dropdown-menu">
		                            <li ng-class="{ active:tab.isSet('frame-supported-fabric-structures') }"><a href ng-click="tab.setTab('frame-supported-fabric-structures')">Frame Supported</a></li>
		                            <li ng-class="{ active:tab.isSet('shade-sails-fabric-structures') }"><a href ng-click="tab.setTab('shade-sails-fabric-structures')">Shade Sails</a></li>
		                            <li ng-class="{ active:tab.isSet('tensile-fabric-structures') }"><a href ng-click="tab.setTab('tensile-fabric-structures')">Tensile</a></li>
		                            <li ng-class="{ active:tab.isSet('deployable-fabric-structures') }" class="dropdown-submenu"><a href ng-click="tab.setTab('deployable-fabric-structures')" class="dropdown-toggle" data-toggle="dropdown">Deployable</a>
		                            	<ul class="dropdown-menu">
											<li ng-class="{ active:tab.isSet('tents-deployable') }"><a href ng-click="tab.setTab('tents-deployable')">Tents</a></li>
				            				<li ng-class="{ active:tab.isSet('tipis-deployable') }"><a href ng-click="tab.setTab('tipis-deployable')">Tipis</a></li>
				            				<li ng-class="{ active:tab.isSet('custom-deployable') }"><a href ng-click="tab.setTab('custom-deployable')">Custom</a></li>
		                            	</ul>
		                            </li>	                          
		                        </ul>    
		                    </li>
				            <li class="divider"></li>
				            <li ng-class="{ active:tab.isSet('vertical-roller-screens') }"><a href ng-click="tab.setTab('vertical-roller-screens')">Vertical Roller Screens</a></li>
				            <li class="divider"></li>
		                    <li ng-class="{ active:tab.isSet('custom-products') }" class="dropdown-submenu"><a href ng-click="tab.setTab('custom-products')" class="dropdown-toggle" data-toggle="dropdown">Custom Products</a>
		                        <ul class="dropdown-menu">
		                            <li ng-class="{ active:tab.isSet('agricultural-custom') }"><a href ng-click="tab.setTab('agricultural-custom')">Agricultural</a></li>
		                            <li ng-class="{ active:tab.isSet('fabrics-custom') }"><a href ng-click="tab.setTab('fabrics-custom')">Fabrics</a></li>
		                            <li ng-class="{ active:tab.isSet('recreational-custom') }"><a href ng-click="tab.setTab('recreational-custom')">Recreational</a></li>
		                        </ul>
		                    </li>
				            <li class="divider"></li>
		                    <li ng-class="{ active:tab.isSet('consulting') }" class="dropdown-submenu"><a href ng-click="tab.setTab('consulting')" class="dropdown-toggle" data-toggle="dropdown">Consulting</a>
		                        <ul class="dropdown-menu">
		                            <li ng-class="{ active:tab.isSet('codes-consulting') }"><a href ng-click="tab.setTab('codes-consulting')">Codes</a></li>
		                            <li ng-class="{ active:tab.isSet('design-consulting') }"><a href ng-click="tab.setTab('design-consulting')">Design</a></li>
		                            <li ng-class="{ active:tab.isSet('engineering-consulting') }"><a href ng-click="tab.setTab('engineering-consulting')">Engineering</a></li>
		                        </ul>
		                    </li>      
				        </ul>
				    </li>
			        <li ng-class="{ active:tab.isSet('about-fabricon') }"><a href ng-click="tab.setTab('about-fabricon')">About Fabricon</a></li>
					<li ng-class="{ active:tab.isSet('resources') }"><a href ng-click="tab.setTab('resources')">Resources</a></li>
					<li ng-class="{ active:tab.isSet('contact-us') }"><a href ng-click="tab.setTab('contact-us')">Contact Us</a></li>
				</ul>
			</div>
		</div>
	</nav>
<div>
	<!-- Front Page -->
	<front-page-content ng-show="tab.isSet('front-page-content')"></front-page-content>

	<!-- Product Pages -->

	<!-- Awnings & Canopies -->
	<awnings-and-canopies ng-show="tab.isSet('awnings-and-canopies')"></awnings-and-canopies>
		<commercial-awnings ng-show="tab.isSet('commercial-awnings')"></commercial-awnings>
		<deployable-awnings ng-show="tab.isSet('deployable-awnings')"></deployable-awnings>
		<designs-awnings ng-show="tab.isSet('designs-awnings')"></designs-awnings>
		<fabrics-awnings ng-show="tab.isSet('fabrics-awnings')"></fabrics-awnings>
		<graphics-awnings ng-show="tab.isSet('graphics-awnings')"></graphics-awnings>
		<residential-awnings ng-show="tab.isSet('residential-awnings')"></residential-awnings>
		<valances-awnings ng-show="tab.isSet('valances-awnings')"></valances-awnings>


	<!-- Curtains & Screens -->
	<curtains-and-screens ng-show="tab.isSet('curtains-and-screens')"></curtains-and-screens>
		<enclosures-curtains ng-show="tab.isSet('enclosures-curtains')"></enclosures-curtains>	
		<sun-screens-curtains ng-show="tab.isSet('sun-screens-curtains')"></sun-screens-curtains>

	
	<!-- Fabrics -->
	<fabrics ng-show="tab.isSet('fabrics')"></fabrics>
		<natural-fabrics ng-show="tab.isSet('natural-fabrics')"></natural-fabrics>
		<synthetic-fabrics ng-show="tab.isSet('synthetic-fabrics')"></synthetic-fabrics>


	<!-- Fabric Structures -->
	<fabric-structures ng-show="tab.isSet('fabric-structures')"></fabric-structures>
		<frame-supported-fabric-structures ng-show="tab.isSet('frame-supported-fabric-structures')"></frame-supported-fabric-structures>
		<shade-sails-fabric-structures ng-show="tab.isSet('shade-sails-fabric-structures')"></shade-sails-fabric-structures>
		<tensile-fabric-structures ng-show="tab.isSet('tensile-fabric-structures')"></tensile-fabric-structures>
		<deployable-fabric-structures ng-show="tab.isSet('deployable-fabric-structures')"></deployable-fabric-structures>
		<!-- Deployable -->
			<tents-deployable ng-show="tab.isSet('tents-deployable')"></tents-deployable>
			<tipis-deployable ng-show="tab.isSet('tipis-deployable')"></tipis-deployable>
			<custom-deployable ng-show="tab.isSet('custom-deployable')"></custom-deployable>


	<!-- Vertical Roller Screens -->
	<vertical-roller-screens ng-show="tab.isSet('vertical-roller-screens')"></vertical-roller-screens>


	<!-- Custom Products -->
	<custom-products ng-show="tab.isSet('custom-products')"></custom-products>
		<agricultural-custom ng-show="tab.isSet('agricultural-custom')"></agricultural-custom>
		<fabrics-custom ng-show="tab.isSet('fabrics-custom')"></fabrics-custom>
		<recreational-custom ng-show="tab.isSet('recreational-custom')"></recreational-custom>
		

	<!-- Consulting -->
	<consulting ng-show="tab.isSet('consulting')"></consulting>
		<codes-consulting ng-show="tab.isSet('codes-consulting')"></codes-consulting>
		<design-consulting ng-show="tab.isSet('design-consulting')"></design-consulting>
		<engineering-consulting ng-show="tab.isSet('engineering-consulting')"></engineering-consulting>	


	<!-- About Fabricon -->
	<about-fabricon ng-show="tab.isSet('about-fabricon')"></about-fabricon>


	<!-- Resources -->
	<resources ng-show="tab.isSet('resources')"></resources>


	<!-- Contact Us -->
	<contact-us ng-show="tab.isSet('contact-us')"></contact-us>
</div>