<!--  Site Map Social Networking Links Container  -->		
<div class="container">		
	<div id="social" class="nav-social right">
		<ul>
			<li class="facebook"><a href="https://www.facebook.com/pages/Fabricon-LLC/110448395686050" target="new"><img class="icons" src="img/icons/facebook-solo.png" onmouseover="this.src='img/icons/facebook-solo-blue.png'" onmouseout="this.src='img/icons/facebook-solo.png'" alt="Facebook"></a></li>
			<li><a href="https://plus.google.com/105033875772747195888" target="new"><img class="icons" src="img/icons/google-solo.png" onmouseover="this.src='img/icons/google-solo-red.png'" onmouseout="this.src='img/icons/google-solo.png'" alt="Google+"></a></li>
			<li><a href="https://www.linkedin.com/company/8632886" target="new"><img class="icons" src="img/icons/linkedin-solo.png" onmouseover="this.src='img/icons/linkedin-solo-blue.png'" onmouseout="this.src='img/icons/linkedin-solo.png'" alt="LinkedIn"></a></li>
		</ul>
	</div>
</div>