<!--  Product Container  -->
<div class="category">    
    <div class="row" ng-repeat="row_subcategories in subcategories">
		    <div class="col-md-4" ng-repeat="subcategory in row_subcategories">
            <div class='fabricon-column'>
              <a href="#/{{category.link_name}}/{{category.id}}/{{subcategory.link_name}}/{{subcategory.id}}" class="nolinks">
                  <h3>{{subcategory.name}}</h3>  
            	</a>
              <carousel style="height:{{subcategory.images.__thumbnail__.size.height}}%; width: {{subcategory.images.__thumbnail__.size.width}}%; max-width:768px;">
                <slide ng-repeat="thumbnail_name in subcategory.images.__thumbnail__.images">
                  <a href="#/{{category.link_name}}/{{category.id}}/{{subcategory.link_name}}/{{subcategory.id}}" class="nolinks">
                    <img ng-src="{{category.image_folder_path + '/__thumbnail__/' + thumbnail_name}}" style="height:{{subcategory.images.__thumbnail__.size.height}}%; width: {{subcategory.images.__thumbnail__.size.width}}%; max-width:768px;"/>
                  </a>
                  <div class="carousel-caption">
                    <h4>Slide {{$index}}</h4>
                  </div>
                </slide>
              </carousel>       
            </div>
        </div>
    </div>
</div>
